h3 {
    background: linear-gradient(
        to right,
        #f4dbd6 20%,
        #f0c6c6 30%,
        #f5bde6 70%,
        #ee99a0 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
