.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  background-color: #181926;
  padding: 0 20px;
	border-radius: 5px;
	font-family: "JetBrains Mono";
}

.navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 20px;
}

.navbar-brand img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-item a {
  text-decoration: none;
  color: #cad3f5;
  font-size: 11px;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.nav-item a:hover {
  color: #f0c6c6;
}
